#file-input::file-selector-button {
  @apply p-2 cursor-pointer border-none mr-2.5;
}

#file-input::file-selector-button:hover {
  @apply bg-gray-200;
}

#file-input::file-selector-button:active {
  @apply bg-gray-300;
}

.submit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  @apply bg-gray-900;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.submit-button:hover::before {
  transform: translate3d(100%, 0, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text {
  animation: fadeIn 0.7s ease-out forwards;
}

.fade-in-btn {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-text {
  opacity: 0;
}

.disable-hover {
  @apply text-white pointer-events-none;
}

.map-container {
  width: 640px;
  height: 360px;
  border-radius: 18px; /* Set the radius according to your design */
  overflow: hidden; /* Ensures the map corners are clipped */
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
.drop {
  animation: drop 0.3s linear forwards 2s;
}

.btn-active {
  @apply bg-opacity-0;
}
